#piclogo {
    margin: 0px auto
}

#piclogo img {
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px
}

#accname {
    font-size: 80%;
    color: rgb(0, 0, 0);
    font-family: "等线";
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    line-height: 16px
}

#accintro {
    font-size: 28px;
    font-family: "等线";
    text-align: center;
}