<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>上海海洋大学校园导览</title>
</head>
<link rel="stylesheet" href="css/matrix.css">
<link rel="stylesheet" href="css/frame.css">
<link rel="stylesheet" href="css/element.css">
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/element.js"></script>

<body>
	<script type="text/javascript" src="js/header.js"></script>
	<div id="control">
		<div class="wrap" style="margin:8px">
			<el-row :gutter="20">
				<div v-for="(item,index) in Title">
					<el-col :span="12">
						<div :class="[item.swi?'buttonon':'buttonoff']" @click="click(index)">{{item.name}}</div>
					</el-col>
				</div>
			</el-row>
		</div>
		<div class='wrap'>
			<div class='item2'>
				<el-row v-if="Title[0].swi">
					<div v-for="Web in NavInfor">
						<el-col :span=8>
							<div class="navlogo" align="center">
								<div v-if=Web.VPNnotice>
									<img :src=Web.pic @click="VPNalert(Web.name,Web.href)" />
								</div>
								<div v-if=!Web.VPNnotice>
									<a :href=Web.href><img :src=Web.pic /></a>
								</div>
								<div class="accname">{{Web.name}}</div>
							</div>
						</el-col>
					</div>
				</el-row>
				<el-row v-if="Title[1].swi">
					<div v-for="Web in FuncInfor">
						<el-col :span=8>
							<div class="navlogo" align="center">
								<a :href=Web.href><img :src=Web.pic /></a>
								<div class="accname">{{Web.name}}</div>
							</div>
						</el-col>
					</div>
				</el-row>
			</div>
		</div>
	</div>
</body>

</html>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			Title: [{
					name: '校园网站',
					swi: true,
				},
				{
					name: '应用天地',
					swi: false,
				},
			],
			FuncInfor: [{
					name: '海大微信矩阵',
					pic: 'images/logo/微信矩阵.jpg',
					href: './WeChatMatrix.html'
				},
				{
					name: '海大校园地图',
					pic: 'images/logo/map.jpg',
					href: 'map.html',
				},
				{
					name: '海大年度校历',
					pic: 'images/logo/年度校历.jpg',
					href: 'Calendar.html',
				},
				{
					name: '海大专业代码查询',
					pic: 'images/logo/专业代码查询.jpg',
					href: 'SpecialtyCode.html',
				},
				{
					name: '海大黄页',
					pic: 'images/logo/海大黄页.jpg',
					href: 'YellowPages.html',
				},
				{
					name: '海大专业介绍',
					pic: 'images/logo/专业介绍.jpg',
					href: './MajorInstruction.html'
				},
				{
					name: '期末总评成绩预估',
					pic: 'images/logo/成绩预估.png',
					href: 'Score.html',
				},
				{
					name: 'VR看海大',
					pic: 'images/logo/VR看海大.jpg',
					href: 'https://720yun.com/t/54ajzpmuua2?pano_id=5861163',
				},
				{
					name: '报考招生专题',
					pic: 'images/logo/报考招生.png',
					href: './RecruitStudent.html'
				},
				{
					name: '官微专题集锦',
					pic: 'images/logo/上海海洋大学官微.png',
					href: './Article.html'
				},
				{
					name: '官微系列专题',
					pic: 'images/logo/上海海洋大学官微.png',
					href: './Topic.html'
				},
			],
			NavInfor: [{
					name: '上海海洋大学官网',
					pic: 'images/logo/上海海洋大学官微.png',
					href: 'http://www.shou.edu.cn',
				},
				{
					name: '本科招生信息网',
					pic: 'images/logo/本科招生信息网.jpg',
					href: 'https://zsjy.shou.edu.cn/',
				},
				{
					name: '本科教学信息网',
					pic: 'images/logo/本科教学信息网.jpg',
					href: 'http://jwc.shou.edu.cn/',
				},
				{
					name: '研究生院官网',
					pic: 'images/logo/上海海洋大学研究生会.png',
					href: 'http://yjs.shou.edu.cn/',
				},
				{
					name: 'URP教务管理系统',
					pic: 'images/logo/URP综合教务系统.png',
					href: 'https://urp.shou.edu.cn',
					VPNnotice: 1,
				},
				{
					name: '网络教学平台EOL',
					pic: 'images/logo/网络教学综合平台.png',
					href: 'http://202.121.66.141/meol/homepage/common/',
					VPNnotice: 1,
				},
				{
					name: '教务辅助系统',
					pic: 'images/logo/教务辅助系统.jpg',
					href: 'http://jxfz.shou.edu.cn/aaos',
					VPNnotice: 1,
				},
				{
					name: '体质管理综合查询',
					pic: 'images/logo/体质管理综合查询.png',
					href: 'http://202.121.66.196/',
					VPNnotice: 1,
				},
				{
					name: '学生工作管理信息系统',
					pic: 'images/logo/学生工作管理信息系统.jpg',
					href: 'http://f.yiban.cn/iframe/index?act=shhydxxszzglxt',
					VPNnotice: 1,
				},
				{
					name: '海大图书馆预约',
					pic: 'images/logo/上海海洋大学图书馆.png',
					href: 'http://wechat.v2.traceint.com/index.php/reserve/index.html?f=wechat&n=5c519ed76704d',
				},
				{
					name: '网上办事大厅',
					pic: 'images/logo/网上办事大厅.png',
					href: 'https://workflow.shou.edu.cn/taskcenter/wechat/index',
					VPNnotice: 1,
				},
				{
					name: '智慧财务系统',
					pic: 'images/logo/智慧财务系统.png',
					href: 'http://znbx.shou.edu.cn:83/BaseDataMobileWeb/#/Frame/Service/Index',
					VPNnotice: 1,
				},
				{
					name: '学生教材征订',
					pic: 'images/logo/学生教材征订.jpg',
					href: 'http://univ.xinhua.sh.cn/mobile/login.do?univ=HY#',
				},
				{
					name: '思政课在线练习',
					pic: 'images/logo/思政课在线练习.jpg',
					href: 'http://117.135.144.215:6571/exam_exercise.html',
				},
				{
					name: '四六级报名链接',
					pic: 'images/logo/四六级.jpg',
					href: 'http://cet-bm.neea.cn/',
				},
			],
		},
		methods: {
			VPNalert(name, href) {
				this.$confirm(name + '需连接校园专用网络后方可访问, 是否继续？', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					window.location.href = href;
				})
			},
			click(index) {
				for (let i = 0; i < 2; i++) {
					this.Title[i].swi = false;
				}
				this.Title[index].swi = true;
			}
		}
	});
</script>